<div class="split-banners">
  {% for block in section.blocks %}
    <div class="split-banner" style="color: {{ block.settings.color }}">
      {% if block.settings.img %}
        <div class="split-banner__img">
          <img srcset="{{ block.settings.img | image_url }}" loading="lazy">
        </div>
      {% endif %}
      <div class="split-banner__text">
        <div class="split-banner__title">{{ block.settings.heading }}</div>
        <a class="split-banner__btn" href="{{ block.settings.btn_url }}">{{ block.settings.btn }}</a>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Split Banner",
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "color",
            "id": "color",
            "label": "Text Color"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "BG Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "btn",
            "label": "Button"
          }, {
            "type": "url",
            "id": "btn_url",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Split Banner",
        "blocks": [
          {
            "type": "card",
            "settings": {
              "color": "#fff",
              "heading": "Housewarming Gifts for the Host",
              "btn": "Discover them all"
            }
          }, {
            "type": "card",
            "settings": {
              "color": "#fff",
              "heading": "The Limited-Edition Holiday Scene",
              "btn": "Shop the scene"
            }
          }
        ]
      }
    ]
  }
{% endschema %}